{% extends 'layouts/based.html' %}
{% load static %}

{% block title %}Image Management{% endblock %}
{% block content %}
    <div class="container-fluid py-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Attack & Health images <a id="sidenav-toggle" href="javascript:toggleSidebar();"><i
                                    class="fa fa-arrows-h" aria-hidden="true"></i>
                            </a></h6>
                            <p class="text-sm mb-0">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                {{ attachment_path }}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="card-body ">

                    {% if attack_images %}
                        <div class="row">
                            {% for value,image in attack_images.items %}
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1 px-1 my-3 ">
                                    <div class="card card-custom card-stretch gutter-b" style="padding:0px;">
                                        <div class="card-body">
                                            <div class="card-img" style="text-align: center">
                                                <img class="card-img" src="/{{ image }}"
                                                     alt="{{ value }}" style="border-radius: unset">
                                                <span style="text-align: center">{{ value }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if health_images %}
                                {% for value,image in health_images.items %}
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 px-1 my-3 ">
                                    <div class="card card-custom card-stretch gutter-b" style="padding:0px;">
                                        <div class="card-body">
                                            <div class="card-img" style="text-align: center">
                                                    <img class="card-img" src="/{{ image }}"
                                                         alt="{{ value }}" style="border-radius: unset">
                                                    {{ value }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}
    <script>
    </script>
{% endblock scripts %}
